//для переменных
//colors
$deep-black: #212121;
$red: #EC7979;
$gray: #86878B;
$deep-gray: #333333;
$black: #000000;

//font-size

$_20px: 1.25rem; //20px
$_15px: 0.9375rem; //15px
$_14px: 0.85rem;
$_12px: 0.75rem;

//border
$border: 1px solid $deep-gray;
$border-radius: 8px;