.design {
    background-color: #F8EFEF;
    padding: 18px 0;
}

.design-container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.design-wrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media {
    width: 470px;
}

.media-title {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 36px;
}

.media-description {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #86878B;
}

.design-links-menu {
    display: flex;
    justify-content: space-between;
    width: 630px;
}

.links-menu__icon {
    transition: .2s;
    margin: 0 15px;
}


.copierate {
    height: 21px;
    display: flex;
    justify-content: center;
}

.fa-brands {
    font-size: 55px;
    color: #CCCCCC;
    transition: .2s;
}

.fa-brands:hover {
    transform: rotate(20deg);
    color: rgb(65, 65, 230);
}

.fa-solid {
    font-size: 55px;
    color: #CCCCCC;
    transition: .2s;
    ;
}

.fa-solid:hover {
    transform: rotate(20deg);
    color: rgb(65, 65, 230);
}
