body {
    padding: 30px;
}

.block {
    border: 5px solid black;
    width: 200px;
    margin: 0px auto;
    height: 200px;
    
}
.block div {
    line-height: 50px;
    text-align: center;
    
}

.block__1 {
    background-color: darkgoldenrod;
    
}

.block__2 {
    background-color: blueviolet;
    position: absolute;
    left: 0;
    top: 0;
}

.block__3 {
    background-color: darkgreen;
}